<!DOCTYPE html>
<html lang="en">
<head>
    <title>King of the beach</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        .container {
            padding-top: 1rem;
            margin: 10px auto;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="container">
        <b-jumbotron
                header="King of the beach" header-level="4"
                lead="Round-robin tournament schedule for 5 players, who compete individually against each other in 2 on 2 matches.">
        </b-jumbotron>
        <h2>Players</h2>
        <player-input
            v-for="player in players"
            v-bind:player="player"
            v-bind:key="player.id">
        </player-input>
        <h2>Matches</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Rest</th>
                <th>Teams</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="match in schedule" @click="showScoreModal(match.id)">
                <th scope="row">{{ match.id + 1 }}</th>
                <td>{{ playerName(match.rest) }}</td>
                <td>
                    <span style="white-space: nowrap">{{ playerName(match.teamA[0]) }}, {{ playerName(match.teamA[1]) }}</span>
                    - <span style="white-space: nowrap">{{ playerName(match.teamB[0]) }}, {{ playerName(match.teamB[1]) }}</span>
                </td>
                <td><a href="javascript:void(0)">{{ match.score[0]}} : {{ match.score[1] }}</a></td>
            </tr>
            </tbody>
        </table>
        <h2>Ranking</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>Wins</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(player, index) in ranking">
                <th scope="row">{{ index+1 }}</th>
                <td>{{ player.name }}</td>
                <td>{{ player.wins }}</td>
                <td>{{ player.points }}</td>
            </tr>
            </tbody>
        </table>
        <b-button @click="resetModalVisible = true" variant="outline-secondary" :block="true">
            Reset
        </b-button>
    </div>
    <b-modal v-if="scoreModalVisible" v-model="scoreModalVisible" :current-match.sync="currentMatch"
             title="Score input" ok-only @hide="setScore" @shown="[teamAScore, teamBScore] = currentMatch.score">
        <h4>
            {{ playerName(currentMatch.teamA[0]) }}, {{ playerName(currentMatch.teamA[1]) }}
        </h4>
        <b-form-input v-model="teamAScore" type="number" @focus.native="$event.target.select()"></b-form-input>
        <hr>
        <h4>
            {{ playerName(currentMatch.teamB[0]) }}, {{ playerName(currentMatch.teamB[1]) }}
        </h4>
        <b-form-input v-model="teamBScore" type="number" @focus.native="$event.target.select()"></b-form-input>
    </b-modal>
    <b-modal v-if="resetModalVisible" v-model="resetModalVisible" title="Reset" @hide="reset">
        <b-form-group>
            <b-form-radio-group id="radios" v-model="selectedResetOption" :options="resetOptions"
                                name="resetOption" stacked>
            </b-form-radio-group>
        </b-form-group>
    </b-modal>
</div>

<script src="app.bundle.js"></script>
</body>
</html>